.scoring-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFFFFF; /* Blanco */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}
