.user-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.approved {
  color: green;
}

.rejected {
  color: red;
}
