.scoring-form__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E5F2FF;
}

.approved {
  color: green;
  background-color: #E5F2FF;
}

.rejected {
  color: red;
  background-color: #E5F2FF;
}
